<div class="d-flex flex-column jumbotron text-center">
  <h1>Dynamic Components, Web Components & SVG</h1>
  <div class="d-flex flex-row justify-content-center">
    <div class="col-8 my-4">
      <h5 class="mb-4">
        When you click the button
        <button type="button" class="btn btn-sm btn-success mx-3">Change SVG</button>
        It will change number for SVG.
        <br>
        And it will render a new SVG.
      </h5>
      <h5>
        And if you click
        <button type="button" class="btn btn-sm btn-danger mx-3">Delete SVG</button>
        It will delete the DOM node
      </h5>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-row">
      <div class="col-12 my-5">
        <app-dynamic-component-config [model]="model"></app-dynamic-component-config>
      </div>
    </div>
    <div class="d-flex flex-column align-self-center">
      <div class="d-flex btn-group" role="group" aria-label="Change SVG">
        <button type="button" class="btn btn-success mx-3" (click)="changeNumber()">Change SVG</button>
        <button type="button" class="btn btn-danger mx-3" (click)="deleteSvg()">Delete SVG</button>
      </div>
    </div>
  </div>
</div>
