<div class="container-fluid">
  <div class="d-flex flex-row vh-100 justify-content-between align-items-center">
    <div class="col-2">
      <app-android-icon [svgClasses]="'fill-success'"></app-android-icon>
    </div>
    <div class="col-2">
      <app-angular-icon [svgClasses]="'fill-danger'"></app-angular-icon>
    </div>
    <div class="col-2">
      <app-devices-icon [svgClasses]="'fill-info'"></app-devices-icon>
    </div>
    <div class="col-2">
      <app-gif-icon [svgClasses]="'fill-indigo'"></app-gif-icon>
    </div>
    <div class="col-2">
      <app-label-icon [mainClasses]="'fill-secondary'"></app-label-icon>
    </div>
    <div class="col-2">
      <app-polymer-icon [mainClasses]="'fill-primary'"></app-polymer-icon>
    </div>
  </div>
</div>
